

.column {
    height:100%;
    overflow: hidden;
}
.column-left {
    
    height: calc(100vh - 110px);
    background-color: #fff;
    position: relative;
    float: left;
}
.column-right {
    height: calc(100vh - 110px);
    overflow-x:hidden;
    padding:10px;
    overflow-y:auto;
    background-color: rgba(240,240,240,1);
    box-sizing: border-box;
    overflow: hidden;
}
.column-right ::-webkit-scrollbar {
    display: none;
}
.resize-save {
    position: absolute;
   
    top: 0; right: 5px; bottom: 0; left: 0;
    padding: 16px;
    overflow-x: hidden;
}
.resize-bar {
    width: 900px; height: inherit;
    resize: horizontal;
    cursor: ew-resize; 
    opacity: 0;
    overflow: scroll;
}
/* 拖拽线 */
.resize-line {
    position: absolute;
    right: 0; top: 0; bottom: 0;
    border-right: 2px solid #eee;
    border-left: 1px solid #bbb;
    pointer-events: none;
}
.resize-bar:hover ~ .resize-line,
.resize-bar:active ~ .resize-line {
    border-left: 1px dashed skyblue;
}
.resize-bar::-webkit-scrollbar {
    width: 200px; height: inherit;
}

/* Firefox只有下面一小块区域可以拉伸 */
@supports (-moz-user-select: none) {
    .resize-bar:hover ~ .resize-line,
    .resize-bar:active ~ .resize-line {
        border-left: 1px solid #bbb;
    }
    .resize-bar:hover ~ .resize-line::after,
    .resize-bar:active ~ .resize-line::after {
        content: '';
        position: absolute;
        width: 16px; height: 16px;
        bottom: 0; right: -8px;
        background: url(./resize.svg);
        background-size: 100% 100%;
    }
}
.demo-tabs{
    height:100%;
}


.el-tab-pane {
  height: calc(100vh - 110px);
  overflow-y: auto;
}